@font-face{font-family:"maazicon-webicons";font-weight:normal;font-style:normal;src:url('fonts/web-icons.woff2') format('woff2'),url('fonts/web-icons.woff') format('woff'),url('fonts/web-icons.ttf') format('truetype'),url('fonts/web-icons.svg') format('svg')}
[class^="webicons-"]::before,[class*="webicons"]::before{font-family:"maazicon-webicons"!important;font-style:normal!important;font-weight:normal!important;font-variant:normal!important;display:inline-block!important;text-transform:none!important;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.maazicon-webicons-dashboard::before{content:"\f101"}
.maazicon-webicons-inbox::before{content:"\f102"}
.maazicon-webicons-cloud::before{content:"\f103"}
.maazicon-webicons-bell::before{content:"\f104"}
.maazicon-webicons-book::before{content:"\f105"}
.maazicon-webicons-bookmark::before{content:"\f106"}
.maazicon-webicons-tag::before{content:"\f107"}
.maazicon-webicons-library::before{content:"\f108"}
.maazicon-webicons-share::before{content:"\f109"}
.maazicon-webicons-reply::before{content:"\f10a"}
.maazicon-webicons-refresh::before{content:"\f10b"}
.maazicon-webicons-move::before{content:"\f10c"}
.maazicon-webicons-chat::before{content:"\f10d"}
.maazicon-webicons-chat-working::before{content:"\f10e"}
.maazicon-webicons-chat-text::before{content:"\f10f"}
.maazicon-webicons-chat-group::before{content:"\f110"}
.maazicon-webicons-envelope::before{content:"\f111"}
.maazicon-webicons-envelope-open::before{content:"\f112"}
.maazicon-webicons-user::before{content:"\f113"}
.maazicon-webicons-user-circle::before{content:"\f114"}
.maazicon-webicons-users::before{content:"\f115"}
.maazicon-webicons-user-add::before{content:"\f116"}
.maazicon-webicons-menu::before{content:"\f119"}
.maazicon-webicons-layout::before{content:"\f11a"}
.maazicon-webicons-fullscreen::before{content:"\f11b"}
.maazicon-webicons-fullscreen-exit::before{content:"\f11c"}
.maazicon-webicons-expand::before{content:"\f11d"}
.maazicon-webicons-contract::before{content:"\f11e"}
.maazicon-webicons-arrow-expand::before{content:"\f11f"}
.maazicon-webicons-arrow-shrink::before{content:"\f120"}
.maazicon-webicons-desktop::before{content:"\f121"}
.maazicon-webicons-mobile::before{content:"\f122"}
.maazicon-webicons-signal::before{content:"\f123"}
.maazicon-webicons-power::before{content:"\f124"}
.maazicon-webicons-more-horizontal::before{content:"\f125"}
.maazicon-webicons-more-vertical::before{content:"\f126"}
.maazicon-webicons-globe::before{content:"\f127"}
.maazicon-webicons-map::before{content:"\f128"}
.maazicon-webicons-flag::before{content:"\f129"}
.maazicon-webicons-pie-chart::before{content:"\f12a"}
.maazicon-webicons-stats-bars::before{content:"\f12b"}
.maazicon-webicons-pluse::before{content:"\f12c"}
.maazicon-webicons-home::before{content:"\f12d"}
.maazicon-webicons-shopping-cart::before{content:"\f12e"}
.maazicon-webicons-payment::before{content:"\f12f"}
.maazicon-webicons-briefcase::before{content:"\f130"}
.maazicon-webicons-search::before{content:"\f131"}
.maazicon-webicons-zoom-in::before{content:"\f132"}
.maazicon-webicons-zoom-out::before{content:"\f133"}
.maazicon-webicons-download::before{content:"\f134"}
.maazicon-webicons-upload::before{content:"\f135"}
.maazicon-webicons-sort-asc::before{content:"\f136"}
.maazicon-webicons-sort-des::before{content:"\f137"}
.maazicon-webicons-graph-up::before{content:"\f138"}
.maazicon-webicons-graph-down::before{content:"\f139"}
.maazicon-webicons-replay::before{content:"\f13a"}
.maazicon-webicons-edit::before{content:"\f13b"}
.maazicon-webicons-pencil::before{content:"\f13c"}
.maazicon-webicons-rubber::before{content:"\f13d"}
.maazicon-webicons-crop::before{content:"\f13e"}
.maazicon-webicons-eye::before{content:"\f13f"}
.maazicon-webicons-eye-close::before{content:"\f140"}
.maazicon-webicons-image::before{content:"\f141"}
.maazicon-webicons-gallery::before{content:"\f142"}
.maazicon-webicons-video::before{content:"\f143"}
.maazicon-webicons-camera::before{content:"\f144"}
.maazicon-webicons-folder::before{content:"\f145"}
.maazicon-webicons-clipboard::before{content:"\f146"}
.maazicon-webicons-order::before{content:"\f147"}
.maazicon-webicons-file::before{content:"\f148"}
.maazicon-webicons-copy::before{content:"\f149"}
.maazicon-webicons-add-file::before{content:"\f14a"}
.maazicon-webicons-print::before{content:"\f14b"}
.maazicon-webicons-calendar::before{content:"\f14c"}
.maazicon-webicons-time::before{content:"\f14d"}
.maazicon-webicons-trash::before{content:"\f14e"}
.maazicon-webicons-plugin::before{content:"\f14f"}
.maazicon-webicons-extension::before{content:"\f150"}
.maazicon-webicons-memory::before{content:"\f151"}
.maazicon-webicons-settings::before{content:"\f152"}
.maazicon-webicons-scissor::before{content:"\f153"}
.maazicon-webicons-wrench::before{content:"\f154"}
.maazicon-webicons-hammer::before{content:"\f155"}
.maazicon-webicons-lock::before{content:"\f156"}
.maazicon-webicons-unlock::before{content:"\f157"}
.maazicon-webicons-volume-low::before{content:"\f158"}
.maazicon-webicons-volume-high::before{content:"\f159"}
.maazicon-webicons-volume-off::before{content:"\f15a"}
.maazicon-webicons-pause::before{content:"\f15b"}
.maazicon-webicons-play::before{content:"\f15c"}
.maazicon-webicons-stop::before{content:"\f15d"}
.maazicon-webicons-musical::before{content:"\f15e"}
.maazicon-webicons-random::before{content:"\f15f"}
.maazicon-webicons-reload::before{content:"\f160"}
.maazicon-webicons-loop::before{content:"\f161"}
.maazicon-webicons-text::before{content:"\f162"}
.maazicon-webicons-bold::before{content:"\f163"}
.maazicon-webicons-italic::before{content:"\f164"}
.maazicon-webicons-underline::before{content:"\f165"}
.maazicon-webicons-format-clear::before{content:"\f166"}
.maazicon-webicons-text-type::before{content:"\f167"}
.maazicon-webicons-table::before{content:"\f168"}
.maazicon-webicons-attach-file::before{content:"\f169"}
.maazicon-webicons-paperclip::before{content:"\f16a"}
.maazicon-webicons-link-intact::before{content:"\f16b"}
.maazicon-webicons-link::before{content:"\f16c"}
.maazicon-webicons-link-broken::before{content:"\f16d"}
.maazicon-webicons-indent-increase::before{content:"\f16e"}
.maazicon-webicons-indent-decrease::before{content:"\f16f"}
.maazicon-webicons-align-justify::before{content:"\f170"}
.maazicon-webicons-align-left::before{content:"\f171"}
.maazicon-webicons-align-center::before{content:"\f172"}
.maazicon-webicons-align-right::before{content:"\f173"}
.maazicon-webicons-list-numbered::before{content:"\f174"}
.maazicon-webicons-list-bulleted::before{content:"\f175"}
.maazicon-webicons-list::before{content:"\f176"}
.maazicon-webicons-emoticon::before{content:"\f177"}
.maazicon-webicons-quote-right::before{content:"\f178"}
.maazicon-webicons-code::before{content:"\f179"}
.maazicon-webicons-code-working::before{content:"\f17a"}
.maazicon-webicons-code-unfold::before{content:"\f17b"}
.maazicon-webicons-chevron-right::before{content:"\f17c"}
.maazicon-webicons-chevron-left::before{content:"\f17d"}
.maazicon-webicons-chevron-left-mini::before{content:"\f17e"}
.maazicon-webicons-chevron-right-mini::before{content:"\f17f"}
.maazicon-webicons-chevron-up::before{content:"\f180"}
.maazicon-webicons-chevron-down::before{content:"\f181"}
.maazicon-webicons-chevron-up-mini::before{content:"\f182"}
.maazicon-webicons-chevron-down-mini::before{content:"\f183"}
.maazicon-webicons-arrow-left::before{content:"\f184"}
.maazicon-webicons-arrow-right::before{content:"\f185"}
.maazicon-webicons-arrow-up::before{content:"\f186"}
.maazicon-webicons-arrow-down::before{content:"\f187"}
.maazicon-webicons-dropdown::before{content:"\f188"}
.maazicon-webicons-dropup::before{content:"\f189"}
.maazicon-webicons-dropright::before{content:"\f18a"}
.maazicon-webicons-dropleft::before{content:"\f18b"}
.maazicon-webicons-sort-vertical::before{content:"\f18c"}
.maazicon-webicons-triangle-left::before{content:"\f18d"}
.maazicon-webicons-triangle-right::before{content:"\f18e"}
.maazicon-webicons-triangle-down::before{content:"\f18f"}
.maazicon-webicons-triangle-up::before{content:"\f190"}
.maazicon-webicons-check-circle::before{content:"\f191"}
.maazicon-webicons-check::before{content:"\f192"}
.maazicon-webicons-check-mini::before{content:"\f193"}
.maazicon-webicons-close::before{content:"\f194"}
.maazicon-webicons-close-mini::before{content:"\f195"}
.maazicon-webicons-plus-circle::before{content:"\f196"}
.maazicon-webicons-plus::before{content:"\f197"}
.maazicon-webicons-minus-circle::before{content:"\f198"}
.maazicon-webicons-minus::before{content:"\f199"}
.maazicon-webicons-alert-circle::before{content:"\f19a"}
.maazicon-webicons-alert::before{content:"\f19b"}
.maazicon-webicons-help-circle::before{content:"\f19c"}
.maazicon-webicons-help::before{content:"\f19d"}
.maazicon-webicons-info-circle::before{content:"\f19e"}
.maazicon-webicons-info::before{content:"\f19f"}
.maazicon-webicons-warning::before{content:"\f1a0"}
.maazicon-webicons-heart::before{content:"\f1a1"}
.maazicon-webicons-heart-outline::before{content:"\f1a2"}
.maazicon-webicons-star::before{content:"\f1a3"}
.maazicon-webicons-star-half::before{content:"\f1a4"}
.maazicon-webicons-star-outline::before{content:"\f1a5"}
.maazicon-webicons-thumb-up::before{content:"\f1a6"}
.maazicon-webicons-thumb-down::before{content:"\f1a7"}
.maazicon-webicons-small-point::before{content:"\f1a8"}
.maazicon-webicons-medium-point::before{content:"\f1a9"}
.maazicon-webicons-large-point::before{content:"\f1aa"}
