@font-face{font-family:"maazicon-simpleline";font-weight:normal;font-style:normal;src:url('fonts/Simple-Line-Icons.woff2') format('woff2'),url('fonts/Simple-Line-Icons.woff') format('woff'),url('fonts/Simple-Line-Icons.ttf') format('truetype'),url('fonts/Simple-Line-Icons.svg') format('svg')}
[class^="simpleline-"]::before,[class*="simpleline"]::before{font-family:"maazicon-simpleline"!important;font-style:normal!important;font-weight:normal!important;font-variant:normal!important;display:inline-block!important;text-transform:none!important;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.maazicon-simpleline-user::before{content:"\e005"}
.maazicon-simpleline-people::before{content:"\e001"}
.maazicon-simpleline-user-female::before{content:"\e000"}
.maazicon-simpleline-user-follow::before{content:"\e002"}
.maazicon-simpleline-user-following::before{content:"\e003"}
.maazicon-simpleline-user-unfollow::before{content:"\e004"}
.maazicon-simpleline-login::before{content:"\e066"}
.maazicon-simpleline-logout::before{content:"\e065"}
.maazicon-simpleline-emotsmile::before{content:"\e021"}
.maazicon-simpleline-phone::before{content:"\e600"}
.maazicon-simpleline-call-end::before{content:"\e048"}
.maazicon-simpleline-call-in::before{content:"\e047"}
.maazicon-simpleline-call-out::before{content:"\e046"}
.maazicon-simpleline-map::before{content:"\e033"}
.maazicon-simpleline-location-pin::before{content:"\e096"}
.maazicon-simpleline-direction::before{content:"\e042"}
.maazicon-simpleline-directions::before{content:"\e041"}
.maazicon-simpleline-compass::before{content:"\e045"}
.maazicon-simpleline-layers::before{content:"\e034"}
.maazicon-simpleline-menu::before{content:"\e601"}
.maazicon-simpleline-list::before{content:"\e067"}
.maazicon-simpleline-options-vertical::before{content:"\e602"}
.maazicon-simpleline-options::before{content:"\e603"}
.maazicon-simpleline-arrow-down::before{content:"\e604"}
.maazicon-simpleline-arrow-left::before{content:"\e605"}
.maazicon-simpleline-arrow-right::before{content:"\e606"}
.maazicon-simpleline-arrow-up::before{content:"\e607"}
.maazicon-simpleline-arrow-up-circle::before{content:"\e078"}
.maazicon-simpleline-arrow-left-circle::before{content:"\e07a"}
.maazicon-simpleline-arrow-right-circle::before{content:"\e079"}
.maazicon-simpleline-arrow-down-circle::before{content:"\e07b"}
.maazicon-simpleline-check::before{content:"\e080"}
.maazicon-simpleline-clock::before{content:"\e081"}
.maazicon-simpleline-plus::before{content:"\e095"}
.maazicon-simpleline-minus::before{content:"\e615"}
.maazicon-simpleline-close::before{content:"\e082"}
.maazicon-simpleline-event::before{content:"\e619"}
.maazicon-simpleline-exclamation::before{content:"\e617"}
.maazicon-simpleline-organization::before{content:"\e616"}
.maazicon-simpleline-trophy::before{content:"\e006"}
.maazicon-simpleline-screen-smartphone::before{content:"\e010"}
.maazicon-simpleline-screen-desktop::before{content:"\e011"}
.maazicon-simpleline-plane::before{content:"\e012"}
.maazicon-simpleline-notebook::before{content:"\e013"}
.maazicon-simpleline-mustache::before{content:"\e014"}
.maazicon-simpleline-mouse::before{content:"\e015"}
.maazicon-simpleline-magnet::before{content:"\e016"}
.maazicon-simpleline-energy::before{content:"\e020"}
.maazicon-simpleline-disc::before{content:"\e022"}
.maazicon-simpleline-cursor::before{content:"\e06e"}
.maazicon-simpleline-cursor-move::before{content:"\e023"}
.maazicon-simpleline-crop::before{content:"\e024"}
.maazicon-simpleline-chemistry::before{content:"\e026"}
.maazicon-simpleline-speedometer::before{content:"\e007"}
.maazicon-simpleline-shield::before{content:"\e00e"}
.maazicon-simpleline-screen-tablet::before{content:"\e00f"}
.maazicon-simpleline-magic-wand::before{content:"\e017"}
.maazicon-simpleline-hourglass::before{content:"\e018"}
.maazicon-simpleline-graduation::before{content:"\e019"}
.maazicon-simpleline-ghost::before{content:"\e01a"}
.maazicon-simpleline-game-controller::before{content:"\e01b"}
.maazicon-simpleline-fire::before{content:"\e01c"}
.maazicon-simpleline-eyeglass::before{content:"\e01d"}
.maazicon-simpleline-envelope-open::before{content:"\e01e"}
.maazicon-simpleline-envelope-letter::before{content:"\e01f"}
.maazicon-simpleline-bell::before{content:"\e027"}
.maazicon-simpleline-badge::before{content:"\e028"}
.maazicon-simpleline-anchor::before{content:"\e029"}
.maazicon-simpleline-wallet::before{content:"\e02a"}
.maazicon-simpleline-vector::before{content:"\e02b"}
.maazicon-simpleline-speech::before{content:"\e02c"}
.maazicon-simpleline-puzzle::before{content:"\e02d"}
.maazicon-simpleline-printer::before{content:"\e02e"}
.maazicon-simpleline-present::before{content:"\e02f"}
.maazicon-simpleline-playlist::before{content:"\e030"}
.maazicon-simpleline-pin::before{content:"\e031"}
.maazicon-simpleline-picture::before{content:"\e032"}
.maazicon-simpleline-handbag::before{content:"\e035"}
.maazicon-simpleline-globe-alt::before{content:"\e036"}
.maazicon-simpleline-globe::before{content:"\e037"}
.maazicon-simpleline-folder-alt::before{content:"\e039"}
.maazicon-simpleline-folder::before{content:"\e089"}
.maazicon-simpleline-film::before{content:"\e03a"}
.maazicon-simpleline-feed::before{content:"\e03b"}
.maazicon-simpleline-drop::before{content:"\e03e"}
.maazicon-simpleline-drawer::before{content:"\e03f"}
.maazicon-simpleline-docs::before{content:"\e040"}
.maazicon-simpleline-doc::before{content:"\e085"}
.maazicon-simpleline-diamond::before{content:"\e043"}
.maazicon-simpleline-cup::before{content:"\e044"}
.maazicon-simpleline-calculator::before{content:"\e049"}
.maazicon-simpleline-bubbles::before{content:"\e04a"}
.maazicon-simpleline-briefcase::before{content:"\e04b"}
.maazicon-simpleline-book-open::before{content:"\e04c"}
.maazicon-simpleline-basket-loaded::before{content:"\e04d"}
.maazicon-simpleline-basket::before{content:"\e04e"}
.maazicon-simpleline-bag::before{content:"\e04f"}
.maazicon-simpleline-action-undo::before{content:"\e050"}
.maazicon-simpleline-action-redo::before{content:"\e051"}
.maazicon-simpleline-wrench::before{content:"\e052"}
.maazicon-simpleline-umbrella::before{content:"\e053"}
.maazicon-simpleline-trash::before{content:"\e054"}
.maazicon-simpleline-tag::before{content:"\e055"}
.maazicon-simpleline-support::before{content:"\e056"}
.maazicon-simpleline-frame::before{content:"\e038"}
.maazicon-simpleline-size-fullscreen::before{content:"\e057"}
.maazicon-simpleline-size-actual::before{content:"\e058"}
.maazicon-simpleline-shuffle::before{content:"\e059"}
.maazicon-simpleline-share-alt::before{content:"\e05a"}
.maazicon-simpleline-share::before{content:"\e05b"}
.maazicon-simpleline-rocket::before{content:"\e05c"}
.maazicon-simpleline-question::before{content:"\e05d"}
.maazicon-simpleline-pie-chart::before{content:"\e05e"}
.maazicon-simpleline-pencil::before{content:"\e05f"}
.maazicon-simpleline-note::before{content:"\e060"}
.maazicon-simpleline-loop::before{content:"\e064"}
.maazicon-simpleline-home::before{content:"\e069"}
.maazicon-simpleline-grid::before{content:"\e06a"}
.maazicon-simpleline-graph::before{content:"\e06b"}
.maazicon-simpleline-microphone::before{content:"\e063"}
.maazicon-simpleline-music-tone-alt::before{content:"\e061"}
.maazicon-simpleline-music-tone::before{content:"\e062"}
.maazicon-simpleline-earphones-alt::before{content:"\e03c"}
.maazicon-simpleline-earphones::before{content:"\e03d"}
.maazicon-simpleline-equalizer::before{content:"\e06c"}
.maazicon-simpleline-like::before{content:"\e068"}
.maazicon-simpleline-dislike::before{content:"\e06d"}
.maazicon-simpleline-control-start::before{content:"\e06f"}
.maazicon-simpleline-control-rewind::before{content:"\e070"}
.maazicon-simpleline-control-play::before{content:"\e071"}
.maazicon-simpleline-control-pause::before{content:"\e072"}
.maazicon-simpleline-control-forward::before{content:"\e073"}
.maazicon-simpleline-control-end::before{content:"\e074"}
.maazicon-simpleline-volume-off::before{content:"\e0a1"}
.maazicon-simpleline-calendar::before{content:"\e075"}
.maazicon-simpleline-bulb::before{content:"\e076"}
.maazicon-simpleline-chart::before{content:"\e077"}
.maazicon-simpleline-ban::before{content:"\e07c"}
.maazicon-simpleline-bubble::before{content:"\e07d"}
.maazicon-simpleline-camrecorder::before{content:"\e07e"}
.maazicon-simpleline-camera::before{content:"\e07f"}
.maazicon-simpleline-cloud-download::before{content:"\e083"}
.maazicon-simpleline-cloud-upload::before{content:"\e084"}
.maazicon-simpleline-envelope::before{content:"\e086"}
.maazicon-simpleline-eye::before{content:"\e087"}
.maazicon-simpleline-flag::before{content:"\e088"}
.maazicon-simpleline-heart::before{content:"\e08a"}
.maazicon-simpleline-info::before{content:"\e08b"}
.maazicon-simpleline-key::before{content:"\e08c"}
.maazicon-simpleline-link::before{content:"\e08d"}
.maazicon-simpleline-lock::before{content:"\e08e"}
.maazicon-simpleline-lock-open::before{content:"\e08f"}
.maazicon-simpleline-magnifier::before{content:"\e090"}
.maazicon-simpleline-magnifier-add::before{content:"\e091"}
.maazicon-simpleline-magnifier-remove::before{content:"\e092"}
.maazicon-simpleline-paper-clip::before{content:"\e093"}
.maazicon-simpleline-paper-plane::before{content:"\e094"}
.maazicon-simpleline-power::before{content:"\e097"}
.maazicon-simpleline-refresh::before{content:"\e098"}
.maazicon-simpleline-reload::before{content:"\e099"}
.maazicon-simpleline-settings::before{content:"\e09a"}
.maazicon-simpleline-star::before{content:"\e09b"}
.maazicon-simpleline-symbol-female::before{content:"\e09c"}
.maazicon-simpleline-symbol-male::before{content:"\e09d"}
.maazicon-simpleline-target::before{content:"\e09e"}
.maazicon-simpleline-credit-card::before{content:"\e025"}
.maazicon-simpleline-paypal::before{content:"\e608"}
.maazicon-simpleline-social-tumblr::before{content:"\e00a"}
.maazicon-simpleline-social-twitter::before{content:"\e009"}
.maazicon-simpleline-social-facebook::before{content:"\e00b"}
.maazicon-simpleline-social-instagram::before{content:"\e609"}
.maazicon-simpleline-social-linkedin::before{content:"\e60a"}
.maazicon-simpleline-social-pinterest::before{content:"\e60b"}
.maazicon-simpleline-social-github::before{content:"\e60c"}
.maazicon-simpleline-social-google::before{content:"\e60d"}
.maazicon-simpleline-social-reddit::before{content:"\e60e"}
.maazicon-simpleline-social-skype::before{content:"\e60f"}
.maazicon-simpleline-social-dribbble::before{content:"\e00d"}
.maazicon-simpleline-social-behance::before{content:"\e610"}
.maazicon-simpleline-social-foursqare::before{content:"\e611"}
.maazicon-simpleline-social-soundcloud::before{content:"\e612"}
.maazicon-simpleline-social-spotify::before{content:"\e613"}
.maazicon-simpleline-social-stumbleupon::before{content:"\e614"}
.maazicon-simpleline-social-youtube::before{content:"\e008"}
.maazicon-simpleline-social-dropbox::before{content:"\e00c"}
.maazicon-simpleline-social-vkontakte::before{content:"\e618"}
.maazicon-simpleline-social-steam::before{content:"\e620"}
